@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: $dark-gray;
}

.wrapper {
	width: 100%;
	max-width: 992px;
	margin: 0 auto;
}

.header {
	display: flex;
	align-items: center;
	height: 80px;

	&__title {
		margin: 0 8px;
		font-size: 3rem;
		cursor: pointer;

		a {
			padding: 8px;
			font-weight: 100;
			color: $light-gray;
			text-decoration: none;

			i {
				margin-right: 4px;
				font-size: 4rem;
				transition: color 0.3s;
			}

			span {
				font-weight: 400;
				transition: color 0.3s;
			}

			&:hover {
				i {
					color: $white;
				}

				span {
					color: $white;
				}
			}
		}
	}

	&__btns {
		margin-right: 16px;
		margin-left: auto;

		button {
			border: none;
			background: none;
			font-size: 1.4rem;
			color: $light-gray;
			cursor: pointer;
			transition: color 0.3s;

			.fas {
				padding: 10px;
				font-size: 2.4rem;
			}

			&:hover {
				color: $white;
			}
		}
	}
}

.note-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 20px 20px;
	list-style: none;

	.note {
		margin: 20px 20px;
		width: 260px;
		height: 300px;
		background-color: $blue;
		word-wrap: break-word;

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 40px;
			padding: 8px;
			background-color: rgba(0, 0, 0, 0.2);

			&-title {
				font-size: 2rem;
			}

			&-btns {
				button {
					margin-left: 4px;
					padding: 4px;
					background: none;
					border: none;
					cursor: pointer;

					.fas {
						font-size: 1.6rem;
					}
				}
			}
		}

		&__body {
			height: 260px;
			padding: 8px;
			font-size: 1.4rem;
			overflow-y: auto;

			scrollbar-width: thin;
			scrollbar-color: rgba(0, 0, 0, 0.1) transparent;

			&::-webkit-scrollbar {
				width: 8px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: rgba(0, 0, 0, 0.1);
				border: 0px solid transparent;
			}
		}

		&--add {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: transparent;
			border: 2px solid $light-gray;
			opacity: 100%;
			transition: border 0.3s;

			button {
				display: block;
				width: 100%;
				height: 100%;
				background: none;
				border: none;
				color: $light-gray;
				transition: color 0.3s;
				cursor: pointer;

				.fas {
					font-size: 6.4rem;
				}
			}

			&:hover {
				border: 2px solid $white;

				button {
					color: $white;
				}
			}
		}
	}
}

.note-modal {
	display: none;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 600px;
	max-height: 80%;
	padding: 20px 10px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 0px 8px $black;

	&__header {
		font-size: 2.6rem;
		font-weight: 300;
		margin-bottom: 16px;
	}

	&__category,
	&__textarea {
		width: 90%;
		max-width: 90%;
		min-width: 90%;
		max-height: 600px;
		padding: 8px 16px;
		font-size: 1.4rem;
		border-radius: 8px;
		border: 1px solid $black;
	}

	&__textarea {
		margin-top: 16px;
		min-height: 100px;
	}

	&__error {
		margin: 8px 0;
		font-size: 1.4rem;
		color: red;
		visibility: hidden;
	}

	&__buttons {
		display: flex;
		gap: 8px;
		.save,
		.cancel {
			padding: 8px 16px;
			background: none;
			border: 1px solid $black;
			border-radius: 8px;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: $gray;
				color: $white;
			}
		}
	}
}
